@{
	ViewData["Title"] = "Home Page";
}

<div>
	<div class="home-div">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<div class="mt-5 pt-5">
			<h1 class="home-header pt-5 mt-5"> Welcome To the Classy</h1>
			</div>
			<div class="d-flex flex-column justify-content-end m-lg-2 mr-2">
			<p class="home-parag mt-1"> "A restaurant should remove you from the mundane burdens of everyday life and transport you to another world." </p>
			<cite>- Danny Meyer</cite>
			</div>
		</div>
	</div>
</div>
