@model IEnumerable<CartItem>
<!DOCTYPE html>
<html lang="en">

<head>
	
</head>
<body>
@if (User.Identity.IsAuthenticated && User.IsInRole("Client"))
{
	

        

	<div class="mt-5 pt-5 pb-5 container-lg">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">SubTotal</th>

						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
				@foreach(var cartitem in Model)
						{
							@if(cartitem.foodItem !=null){
							<tr>
								<td>@cartitem.foodItem.Name</td>
								<td>@cartitem.foodItem.Price</td>
								<td>@cartitem.Quantity</td>
								<td>@(cartitem.foodItem.Price * cartitem.Quantity)</td>

							</tr>
						}}
											
					</tbody>
			</table>
		</div>
	
}

                 






</body>
</html>