@model IEnumerable<Order>
<div class="container-lg mb-5 mt-5">

	

	<center style="margin-bottom:320px;">
		<div class="col-lg-8 table-responsive mb-5">
			<table style="-webkit-text-fill-color:white;" class="table table-bordered text-center mb-0">
				<thead style="background-color:white;" class="bg-secondary text-dark">
					<tr style="background-color:#cda45e;">
						<th >Order ID</th>
						<th>Date</th>
						<th>Status</th>
						<th>Order Details</th>


					</tr>
				</thead>
				<tbody>
					@foreach (var order in Model)
					{


						<tr>
							<th scope="row">
								@order.OrderId
							</th>
							<td>
								@order.Date
							</td>
							
								@if (order.IsDeliverd == true)
								{
								<td>Delivered</td>
							}
							else
							{
								<td>In Process</td>

							}

						
							<td>
								<a class="newCategoryButton" asp-controller="Orders" asp-action="ClientGetOrderDetails" asp-route-orderId="@order.OrderId">Details</a>

							</td>


						</tr>
					}
				</tbody>


			</table>
		</div>
	</center>
   
  
</div>