@model IEnumerable<Order>
@{
	ViewData["Title"] = "Order In Process";

}
@if (User.Identity.IsAuthenticated && User.IsInRole("Client"))
{

	<div class="container-lg mb-5 mt-5">

		<div class="">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th scope="col">Order ID</th>
						<th scope="col"> Date</th>

						<th scope="col"> Status</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var order in Model)
					{


						<tr>
							<th scope="row">
								@order.OrderId
							</th>
							<td>
								@order.Date
							</td>
							<td>
								Delivered
							</td>

						</tr>
					}
				</tbody>
			</table>
		</div>

	</div>

}