@model RegisterUserDto

@{
	ViewData["Title"] = "Register Client";
}

<div class="form-header-style">
	<h3>Register Client</h3>
</div>
<form method="Post" asp-controller="Auth" asp-action="SignUp" class="form-body">

	<partial name="_Regestration" />

</form>
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
