@model RegisterUserDto

@{
	ViewData["Title"] = "Register Client";
	Layout = null;
}


<form method="Post" asp-controller="Auth" asp-action="SignUp" class="text-start">

	<partial name="_Regestration" />

</form>
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
