@model CreatFoodCategoryDTO


<div class="add-category-text">
	<h3>Add new Food Category</h3>
    </div>


    <div style="margin-bottom:30px;" class="container" data-aos="fade-up">


        <div class="custom-form">
            <form asp-controller="FoodCategory" asp-action="Create" method="post" method="post" role="form" class="food-category-form">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
	{
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="category-label">Category Name</label>
                            <input asp-for="@Model.Name" type="text" name="name" class="category-input" id="name" required>
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>

                        </div>
                </div>
                @*
           
           
                *@
                <div class="text-center">
                    <button type="submit" class="add-category-button">Add Category</button>
                </div>
    }
            </form>
        </div>





        </div>

    </div>
</section><!-- End Contact Section -->
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
		}







