@model IEnumerable<FoodiApp.Models.DTOs.FoodCategoryDTO>
@{
	ViewData["Title"] = "Food Category Page";
}

<ul>
	@foreach (var category in Model)
	{
		<li>
			<a asp-controller="FoodItem" asp-action="Details" asp-route-id="@category.FoodCategoryId">@category.Name</a>
		</li>
	}

</ul>
