@model IEnumerable<FoodiApp.Models.DTOs.FoodCategoryDTO>
@{
	ViewData["Title"] = "Food Category Page";

}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
	<div class="container-lg">
		<div class="d-flex flex-row justify-content-end mt-4 mb-4">
			<a class="btn btn-primary rounded" asp-controller="FoodCategory" asp-action="Create">
				<span class="add-icon"><i class="fa-light fa-plus"></i></span>
				New Category
			</a>
		</div>
		<div class="d-flex flex-row justify-content-center">
			<table class="table table-width table-light">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody class="table-secondary">
					@foreach (var item in Model)
					{
						<tr>
							<th scope="row">
								<a class="link-underline-light" asp-controller="FoodItem" asp-action="Details" asp-route-id="@item.FoodCategoryId">@item.Name</a>
							</th>
							<td>
								<button type="button" class="btn btm-sm btn-outline-info border-top border-start border-end"><a class="nav-link" asp-controller="FoodCategory" asp-action="Update" asp-route-id="@item.FoodCategoryId">Edit</a></button>
							</td>
							<td>
								<button type="button" class="btn btn-sm btn-outline-danger border-top border-start border-end"><a class="nav-link" asp-controller="FoodCategory" asp-action="Delete" asp-route-id="@item.FoodCategoryId" onclick="return confirm('Are You Sure You Want To Delete This Food Category ?')">Delete</a></button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	</div>
}
