@model IEnumerable<FoodiApp.Models.DTOs.FoodCategoryDTO>
@{
	ViewData["Title"] = "Food Category Page";
}

<style>
	.category-card {
		transition: transform 0.3s ease-in-out;
	}

		.category-card:hover {
			transform: translateY(-5px);
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}

	.category-name {
		font-family: 'Bahnschrift', sans-serif;
		font-size: 1.25rem;
		text-align: center;
		transition: color 0.3s ease-in-out;
	}

		.category-name:hover {
			color: #BEADFA;
		}

	.btn-group {
		margin-top: 15px;
	}

		.btn-group .btn {
			margin-right: 10px;
			padding: 0.2rem 0.5rem;
			font-size: 0.9rem;
		}
</style>

<div class="album py-5 bg-body-tertiary">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			@foreach (var category in Model)
			{
				<div class="col">
					<div class="card shadow-sm category-card">
						<img src="https://www.tastingtable.com/img/gallery/breakfast-recipes/l-intro-1651937325.jpg" alt="Category Image" class="card-img-top">
						<div class="card-body">
							<p class="card-text category-name">@category.Name</p>
							<div class="d-flex justify-content-between align-items-center btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary">
									<a class="nav-link" asp-controller="FoodItem" asp-action="Details" asp-route-id="@category.FoodCategoryId">View</a>
								</button>
								@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
								{
								<button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" asp-controller="FoodCategory" asp-action="Update" asp-route-id="@category.FoodCategoryId">Edit</a></button>
								<button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" asp-controller="FoodCategory" asp-action="Delete" asp-route-id="@category.FoodCategoryId" onclick="return confirm('Are You Sure You Want To Delete This Food Category ?')">Delete</a></button>
								}
							</div>
						</div>
					</div>
				</div>
			}
		</div>

		<div class="text-center mt-3">
			<a class="btn btn-primary" asp-controller="FoodCategory" asp-action="Create">Add New Food Category</a>
		</div>
	</div>
</div>
