@model IEnumerable<FoodiApp.Models.DTOs.FoodCategoryDTO>
@{
	ViewData["Title"] = "Food Category Page";

}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
	<div class="container-lg">
		<div class="d-flex flex-row justify-content-end mt-4 mb-4">
			<a style="border:double; padding:10px;" class="newCategoryButton" asp-controller="FoodCategory" asp-action="Create">
				<span class="add-icon"><i class="fa-light fa-plus"></i></span>
				New Category
			</a>
		</div>
		<div class="centered-table">
			<table class="food-table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody >
					@foreach (var item in Model)
					{
						<tr>
							<th scope="row">
								<a  asp-controller="FoodItem" asp-action="Details" asp-route-id="@item.FoodCategoryId">@item.Name</a>
							</th>
							<td>
								<button class="FCbutton" type="button" ><a  asp-controller="FoodCategory" asp-action="Update" asp-route-id="@item.FoodCategoryId">Edit</a></button>
							</td>
							<td>
								<button class="FCbutton" type="button"><a asp-controller="FoodCategory" asp-action="Delete" asp-route-id="@item.FoodCategoryId" onclick="return confirm('Are You Sure You Want To Delete This Food Category ?')">Delete</a></button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	</div>

	<style>

		

		/* Center the table on the page */
		.centered-table {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh; /* This will center the table vertically */
		}

		/* Style the table */
		.food-table {
			width: 80%; /* Adjust the width as needed */
			border-collapse: collapse;
			border: 2px double gold; /* Double border with gold color */
			border-radius: 10px; /* Add border radius */
			text-align: center; /* Center-align text */
		}

			.food-table th, .food-table td {
				padding: 10px;
				border: 2px double gold; /* Double border with gold color */
			}

			.food-table th {
				background-color: #f2f2f2;
			}

		/* Style buttons */
		button {
			background-color: #4CAF50;
			color: white;
			border: none;
			padding: 5px 10px;
			cursor: pointer;
		}

		/* Add more styles as needed */

	</style>
}
